---
import { ClientRouter } from "astro:transitions";
import { GitHubLogoIcon } from "@radix-ui/react-icons";

import ThemeToggle from "@/components/ThemeToggle";
import { LinkButton } from "@/components/Button";
import "@/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>First-Year Guide</title>

		<!-- Prevent flash of wrong theme -->
		<script is:inline>
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			}
		</script>

		<ClientRouter />
	</head>

	<body
		class="w-full max-w-2xl px-4 mx-auto bg-white dark:bg-zinc-900 min-h-screen flex flex-col gap-y-6"
	>
		<header transition:persist class="flex justify-end gap-2 pt-8">
			<LinkButton
				href="https://github.com/scottylabs/cmu-guide"
				target="_blank"
				rel="noopener noreferrer"
			>
				<GitHubLogoIcon className="size-5 dark:invert" />
			</LinkButton>

			<ThemeToggle client:load />
		</header>

		<main>
			<article class="prose prose-zinc dark:prose-invert lg:prose-xl">
				<slot />
			</article>
		</main>
	</body>
</html>
