---
import "@/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>First-Year Guide</title>
	</head>
	<body>
		<article class="w-full max-w-2xl px-4 pt-12 mx-auto prose lg:prose-xl">
			<slot />
		</article>
	</body>
</html>
